.login {
    max-width: 277px;
    margin: auto;
}

.main-login {
    top: 0;
    position: fixed;
    height: 100%;
}

.main {
    /*position: fixed;*/
    /*height: 100%;*/
}

.main > .row {
    height: 100%;
}

.navbar-expand .navbar-nav .nav-link {
    padding: 0.45rem 0.75rem 0.45rem 0.75rem;
}

.sidebar {
    min-width: 220px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sidebar .menu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.sidebar .menu a {
    position: relative;
    display: block;
    padding: 16px 16px;
    outline-width: 0;
    transition: all .3s ease-out;
}

.sidebar .menu ul a {
    padding: 0 15px 00px 30px;
}

.sidebar .menu ul ul a {
    padding: 0 15px 0 45px;
}

.sidebar .menu a:hover,
.sidebar .menu a:focus,
.sidebar .menu a:active,
.sidebar .menu .mm-active > a {
    text-decoration: none;
}

.content {
    padding-top: 16px;
}

.id-column {
    width: 60px
}

.action-column {
    width: 1%;
    white-space: nowrap;
}

.action-column span {
    float: right;
}

.action-column > a {
    float: right;
}

td p {
    margin: 0;
}

td .btn {
    padding: 0;
}

.table thead th {
    padding-top: 0;
    border: none;
}

.table td {
    vertical-align: middle;
}

.table td span {

}

.table .filter-td {
    padding: 0.45rem 0.75rem 0.45rem 0.75rem;
    vertical-align: middle;
}

.alert {
    display: table;
}

.wicket-aa-container {
    z-index: 1000;
}

.wicket-aa {
    margin: 3px 0 0;
    background-color: #fff;
    border: 1px solid #80bdff;
    border-radius: 0.25rem;
}

.wicket-aa ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wicket-aa li {
    cursor: pointer;
    padding: 0.375rem 0.75rem;
}

.wicket-aa ul li.selected {
    background-color: #eeeeee;
    border-radius: 0.25rem;
}

.pointer {
    cursor: pointer;
}

.navigation .bootstrap-select {
    width: 83px !important;
    line-height: 1.25;
    padding-left: 0.75rem;
}

.navigation .btn {
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
}

.navigation span {
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    opacity: 0.65;
}

form label[required=required]:after {
    content: "*";
}

.wicket_orderDown {
    text-decoration: underline;
}

.wicket_orderUp {
    text-decoration: underline;
}
