<?xml version="1.0" encoding="UTF-8"?>

<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <wicket:extend>
        <div class="form-row">
            <div class="col">
                <input wicket:id="inputRu" class="form-control" autocomplete="autocomplete-off" placeholder="Русский"/>
            </div>
            <div class="col">
                <input wicket:id="inputUa" class="form-control" autocomplete="autocomplete-off" placeholder="Українська"/>
            </div>
        </div>
    </wicket:extend>
</wicket:panel>
