<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="form-group form-row">
        <div wicket:id="country" class="col"></div>
        <div wicket:id="region" class="col"></div>
    </div>

    <div class="form-group form-row">
        <div wicket:id="city" class="col"></div>
        <div wicket:id="district" class="col"></div>
    </div>

    <div class="form-group form-row">
        <div wicket:id="street" class="col"></div>
        <div wicket:id="building" class="col"></div>
    </div>

    <div class="form-group form-row">
        <div wicket:id="apartment" class="col"></div>
    </div>
</wicket:panel>
