<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.complitex.sync.mapper.SyncMapper">
    <resultMap id="syncResultMap" type="ru.complitex.sync.entity.Sync">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="additional_parent_id" property="additionalParentId"/>
        <result column="external_id" property="externalId"/>
        <result column="additional_external_id" property="additionalExternalId"/>
        <result column="name" property="name"/>
        <result column="additional_name" property="additionalName"/>
        <result column="alt_name" property="altName"/>
        <result column="alt_additional_name" property="altAdditionalName"/>
        <result column="servicing_organization" property="servicingOrganization"/>
        <result column="balance_holder" property="balanceHolder"/>
        <result column="date" property="date"/>
        <result column="status" property="status"/>
        <result column="entity_id" property="entityId"/>
    </resultMap>

    <insert id="insertSync" parameterType="ru.complitex.sync.entity.Sync" useGeneratedKeys="true" keyProperty="id">
        insert into "sync" ("parent_id", "additional_parent_id", "external_id", "additional_external_id", "name",
                            "additional_name", "alt_name", "alt_additional_name", "servicing_organization", "balance_holder",
                            "date", "status", "entity_id")
        values (#{parentId}, #{additionalParentId}, #{externalId}, #{additionalExternalId}, #{name},
                #{additionalName}, #{altName}, #{altAdditionalName}, #{servicingOrganization}, #{balanceHolder},
                #{date}, #{status}, #{entityId})
    </insert>

    <update id="updateSyncStatus" parameterType="ru.complitex.sync.entity.Sync">
        update "sync" set "status" = #{status} where id = #{id}
    </update>

    <delete id="deleteSync" parameterType="long">
        delete from "sync" where "id" = #{id}
    </delete>

    <delete id="deleteAllSyncs" parameterType="int">
        delete from "sync" where "entity_id" = #{entityId}
    </delete>

    <select id="selectSync" parameterType="long" resultMap="syncResultMap">
        select * from "sync" where "id" = #{id}
    </select>

    <sql id="selectSyncWhere">
        <where>
            <if test="object.parentId != null">and "parent_id" = #{object.parentId}</if>
            <if test="object.additionalParentId != null">and "additional_parent_id" = #{object.additionalParentId}</if>
            <if test="object.externalId != null">and "external_id" = #{object.externalId}</if>
            <if test="object.additionalExternalId != null">and "additional_external_id" = #{object.additionalExternalId}</if>
            <if test="object.name != null">and "name" like concat('%', #{object.name}, '%')</if>
            <if test="object.additionalName != null">and "additional_name" = #{object.additionalName}</if>
            <if test="object.altName != null">and "alt_name" like concat('%', #{object.altName}, '%')</if>
            <if test="object.altAdditionalName != null">and "alt_additional_name" = #{object.altAdditionalName}</if>
            <if test="object.servicingOrganization != null">and "servicing_organization" = #{object.servicingOrganization}</if>
            <if test="object.balanceHolder != null">and "balance_holder" = #{object.balanceHolder}</if>
            <if test="object.date != null">and "date" = #{object.date}</if>
            <if test="object.status != 0">and "status" = #{object.status}</if>
            <if test="object.entityId != null">and "entity_id" = #{object.entityId}</if>
        </where>
    </sql>

    <select id="selectSyncs" parameterType="ru.complitex.common.entity.Filter" resultMap="syncResultMap">
        select * from "sync" <include refid="selectSyncWhere"/> ${limit}
    </select>

    <select id="selectSyncsCount" parameterType="ru.complitex.common.entity.Filter" resultType="long">
        select count(*) from "sync" <include refid="selectSyncWhere"/>
    </select>
</mapper>

