<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div wicket:id="street">
        <div wicket:id="city">
            <div wicket:id="region" class="row">
                <div wicket:id="country" class="col-6"></div>
                <div wicket:id="region" class="col-6"></div>
            </div>
            <div class="row">
                <div wicket:id="city" class="col-6"></div>
                <div wicket:id="district" class="col-6"></div>
            </div>
            <div class="row">
                <div wicket:id="street" class="col-6"></div>
                <div wicket:id="building" class="col-6"></div>
            </div>
        </div>
    </div>
</wicket:panel>
