<?xml version="1.0" encoding="UTF-8" ?>

<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <tr class="navigation">
        <td wicket:id="container">
            <div class="row">
                <div class="col m-auto">
                    <div wicket:id="component"></div>
                </div>
                <div class="col-auto">
                <div class="d-inline-flex">
                    <span wicket:id="label"></span>
                    <ul wicket:id="navigator"></ul>
                    <select wicket:id="size"></select>
                </div>
                </div>
            </div>
        </td>
    </tr>
</wicket:panel>
