<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.complitex.matching.mapper.MatchingMapper">
    <resultMap id="matchingResultMap" type="ru.complitex.matching.entity.Matching">
        <id column="id" property="id"/>
        <result column="object_id" property="objectId"/>
        <result column="parent_id" property="parentId"/>
        <result column="external_id" property="externalId"/>
        <result column="additional_external_id" property="additionalExternalId"/>
        <result column="name" property="name"/>
        <result column="additional_name" property="additionalName"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="organization_id" property="organizationId"/>
        <result column="user_organization_id" property="userOrganizationId"/>

        <result column="entity_name" property="entityName"/>
    </resultMap>

    <!--suppress SqlResolve -->
    <insert id="insertMatching" parameterType="ru.complitex.matching.entity.Matching"
            keyProperty="id" useGeneratedKeys="true">
        insert into `${entityName}_matching` (`object_id`, `parent_id`, `additional_parent_id`,
            `external_id`, `additional_external_id`, `name`, `additional_name`, `start_date`, `end_date`,
            `organization_id`, `user_organization_id`)
        values (#{objectId}, #{parentId}, #{additionalParentId},
            #{externalId}, #{additionalExternalId}, #{name}, #{additionalName}, #{startDate}, #{endDate},
            #{organizationId}, #{userOrganizationId})
    </insert>

    <!--suppress SqlResolve -->
    <update id="updateMatching" parameterType="ru.complitex.matching.entity.Matching">
        update `${entityName}_matching` set `object_id` = #{objectId},
            `parent_id` = #{parentId}, `additional_parent_id` = #{additionalParentId},
            `external_id` = #{externalId}, `additional_external_id` = #{additionalExternalId},
            `name` = #{name}, `additional_name` = #{additionalName},
            `start_date` = #{startDate}, `end_date` = #{endDate},
            `organization_id` = #{organizationId}, `user_organization_id` = #{userOrganizationId}
        where `id` = #{id}
    </update>

    <!--suppress SqlResolve -->
    <delete id="deleteMatching" parameterType="ru.complitex.matching.entity.Matching">
        delete from `${entityName}_matching` where `id` = #{id}
    </delete>

    <sql id="selectMatchingWhere">
        <where>
            <if test="object.objectId != null">and c.`object_id` = #{object.objectId}</if>
            <if test="object.parentId != null">and c.`parent_id` = #{object.parentId}</if>
            <if test="object.additionalParentId != null">and c.`additional_parent_id` = #{object.additionalParentId}</if>
            <if test="object.externalId != null">and c.`external_id` = #{object.externalId}</if>
            <if test="object.additionalExternalId != null">and c.`additional_external_id` = #{object.additionalExternalId}</if>
            <if test="object.name != null">and c.`name` = #{object.name}</if>
            <if test="object.additionalName != null">and c.`additional_name` = #{object.additionalName}</if>
            <if test="object.startDate != null">and c.`start_date` = #{object.startDate}</if>
            <if test="object.endDate != null">and c.`end_date` = #{object.endDate}</if>
            <if test="object.organizationId != null">and c.`organization_id` = #{object.organizationId}</if>
            <if test="object.userOrganizationId != null">and c.`user_organization_id` = #{object.userOrganizationId}</if>
        </where>
    </sql>

    <!--suppress SqlResolve -->
    <select id="selectMatching" resultMap="matchingResultMap" parameterType="ru.complitex.matching.entity.Matching">
        select c.*, '${entityName}' entity_name from `${entityName}_matching` c where c.`id` = #{id}
    </select>

    <!--suppress SqlResolve -->
    <select id="selectMatchingList" parameterType="ru.complitex.common.entity.FilterWrapper" resultMap="matchingResultMap">
        select c.*, '${object.entityName}' entity_name from `${object.entityName}_matching` c
        <include refid="selectMatchingWhere"/>
        ${orderLimit}
    </select>

    <!--suppress SqlResolve -->
    <select id="selectMatchingListCount" parameterType="ru.complitex.common.entity.FilterWrapper" resultType="long">
        select count(*) from `${object.entityName}_matching` c
        <include refid="selectMatchingWhere"/>
    </select>
</mapper>
