<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.complitex.matching.mapper.MatchingMapper">
    <resultMap id="matchingResultMap" type="ru.complitex.matching.entity.Matching">
        <id column="id" property="id"/>
        <result column="object_id" property="objectId"/>
        <result column="parent_id" property="parentId"/>
        <result column="additional_parent_id" property="additionalParentId"/>
        <result column="name" property="name"/>
        <result column="additional_name" property="additionalName"/>
        <result column="number" property="number"/>
        <result column="code" property="code"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="company_id" property="companyId"/>
        <result column="user_company_id" property="userCompanyId"/>
        <result column="locale_id" property="localeId"/>

        <result column="entity_name" property="entityName"/>
    </resultMap>

    <!--suppress SqlResolve -->
    <insert id="insertMatching" parameterType="ru.complitex.matching.entity.Matching"
            keyProperty="id" useGeneratedKeys="true">
        insert into "${entityName}_matching" ("object_id", "parent_id", "additional_parent_id", "name", "additional_name",
            "number", "code", "start_date", "end_date", "company_id", "user_company_id", "locale_id")
        values (#{objectId}, #{parentId}, #{additionalParentId}, upper(#{name}), upper(#{additionalName}),
                #{number}, #{code}, #{startDate}, #{endDate}, #{companyId}, #{userCompanyId}, #{localeId})
    </insert>

    <!--suppress SqlResolve -->
    <update id="updateMatching" parameterType="ru.complitex.matching.entity.Matching">
        update "${entityName}_matching" set "object_id" = #{objectId},
            "parent_id" = #{parentId}, "additional_parent_id" = #{additionalParentId},
            "name" = upper(#{name}), "additional_name" = upper(#{additionalName}),
            "number" = #{number}, "code" = #{code},
            "start_date" = #{startDate}, "end_date" = #{endDate},
            "company_id" = #{companyId}, "user_company_id" = #{userCompanyId},
            "locale_id" = #{localeId}
        where "id" = #{id}
    </update>

    <!--suppress SqlResolve -->
    <delete id="deleteMatching" parameterType="long">
        delete from "${entityName}_matching" where "id" = #{id}
    </delete>

    <sql id="selectMatchingJoin">
        <if test="map.company != null or sort.key == 'company'">
            left join "company" company on company.object_id = #{object.companyId} and company.status = 1
            left join "company_attribute" company_a on company_a.domain_id = company.id and company_a.entity_attribute_id = 2 and company_a.status = 1
            left join "company_value" company_v on company_v.attribute_id = company_a.id and company_v.locale_id = #{localeId}
        </if>
    </sql>

    <sql id="selectMatchingWhere">
        <where>
            m.id > 0
            <if test="object.id != null">${operator} m.id = #{object.id}</if>
            <if test="object.objectId != null">${operator} m.object_id = #{object.objectId}</if>
            <if test="object.parentId != null">${operator} m.parent_id = #{object.parentId}</if>
            <if test="object.additionalParentId != null">${operator} m.additional_parent_id = #{object.additionalParentId}</if>
            <if test="object.name != null">
                <if test="filter == 'equal'">
                    ${operator} m.name = #{object.name}
                </if>
                <if test="filter == 'like'">
                    ${operator} m.name ilike concat('%', #{object.name}, '%')
                </if>
            </if>
            <if test="object.additionalName != null">${operator} m.additional_name = #{object.additionalName}</if>
            <if test="object.number != null">${operator} m.number = #{object.number}</if>
            <if test="object.code != null">${operator} m.code = #{object.code}</if>
            <if test="object.startDate != null">${operator} m.start_date = #{object.startDate}</if>
            <if test="object.endDate != null">${operator} m.end_date = #{object.endDate}</if>
            <if test="object.companyId != null">${operator} m.company_id = #{object.companyId}</if>
            <if test="map.company != null">
                <if test="filter == 'like'">
                    ${operator} company_v.text ilike concat('%', #{map.company}, '%')
                </if>
            </if>
            <if test="object.userCompanyId != null">${operator} m.user_company_id = #{object.userCompanyId}</if>
            <if test="object.localeId != null">${operator} m.locale_id = #{object.localeId}</if>
        </where>
    </sql>

    <sql id="selectMatchingSort">
        <choose>
            <when test="sort.key == 'id'">order by m.id ${asc}</when>
            <when test="sort.key == 'number'">order by m.number ${asc}</when>
            <when test="sort.key == 'code'">order by m.code ${asc}</when>
            <when test="sort.key == 'name'">order by m.name ${asc}</when>
            <when test="sort.key == 'additionalName'">order by m.additional_name ${asc}</when>
            <when test="sort.key == 'startDate'">order by m.start_date ${asc}</when>
            <when test="sort.key == 'endDate'">order by m.end_date ${asc}</when>
            <when test="sort.key == 'company'">order by company_v.text ${asc}</when>
        </choose>
    </sql>

    <!--suppress SqlResolve -->
    <select id="selectMatching" resultMap="matchingResultMap" parameterType="ru.complitex.matching.entity.Matching">
        select m.*, '${entityName}' entity_name from "${entityName}_matching" m where m."id" = #{id}
    </select>

    <!--suppress SqlResolve -->
    <select id="selectMatchingListCount" parameterType="ru.complitex.common.entity.Filter" resultType="long">
        select count(*) from "${object.entityName}_matching" m
        <include refid="selectMatchingJoin"/>
        <include refid="selectMatchingWhere"/>
    </select>

    <!--suppress SqlResolve -->
    <select id="selectMatchingList" parameterType="ru.complitex.common.entity.Filter" resultMap="matchingResultMap">
        select m.*, '${object.entityName}' entity_name from "${object.entityName}_matching" m
        <include refid="selectMatchingJoin"/>
        <include refid="selectMatchingWhere"/>
        <include refid="selectMatchingSort"/>
        ${limit}
    </select>
</mapper>
